{% extends 'rango/base_bootstrap.html' %}
{% load staticfiles %}


{% block title_block %}
    About
{% endblock title_block %}


{% block body_block %}
    <h1>"Rango says here is the about page.</h1>
    <a href='{% url 'rango:index' %}'>Index</a>
    <li>This tutorial has been put togetherby cxy</li>
    <img src="{{ MEDIA_URL }}/rango/2.jpg " alt="yifu">
    {{ MEDIA_URL }}rango/2.jpg 
    <button	class="btn   btn-primary"
        onClick="alert('You clicked the button using JavaScript.');"> 
        Click Me - I run JavaScript
    </button>
    <button class="btn btn-primary" id="about-btn" >
        点击我哦</button>
    <p>这是个示例</p>
    <p>这是另一个示例</p>
    <div id="msg">
        我又是一个示例
    </div>

{% endblock body_block %}
