<!DOCTYPE html>
{% load staticfiles %}
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <title>ABOUT</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="author" content="cxy">
        <meta name="keywords" content="输入关键词">
        <meta name="description" content="输入网页描述">
    </head>
    <body>
        <div>
            <h1>"Rango says here is the about page.</h1>
            <a href='/rango/'>Index</a>
            <li>This tutorial has been put togetherby cxy</li>
            <img src="{{ MEDIA_URL }}/rango/2.jpg " alt="yifu">
            {{ MEDIA_URL }}rango/2.jpg 
        </div>
    </body>
</html>
