{% extends 'rango/base_bootstrap.html' %}
{%  load  staticfiles %}

{% block title_block %}

    添加页面
{% endblock  %}

{%  block  body_block  %}
    {%  if category %}
        <form role="form" id="page_form" method="post" action="/rango/category/{{category.slug}}/add_page/">
            <h2  class="form-signin-heading"> 添加页面至
                <a       href="/rango/category/{{category.slug}}/">
                    {{ category.name }}
                </a>
            </h2>
            {%  csrf_token  %}
            {% for hidden in form.hidden_fields   %}
                {{ hidden }}
            {%  endfor  %}
            {%  for field in form.visible_fields   %}
                {{ field.errors }}
                {{ field.help_text }}<br/>
                {{ field }}<br/>
            {%  endfor  %}
            <br/>
            <button class="btn btn-primary" type="submit"  name="submit">
                添加
            </button>
        </form>
    {%	else  %}
        <p>该类型不存在.</p>
    {%	endif  %}
{%  endblock  %}
