{% extends 'rango/base_bootstrap.html' %}
{%  load  staticfiles %}

{% block title_block %}
    主页
{%  endblock  %}

{%  block  body_block  %}
    <div class="jumbotron">
        <h1  class="display-3">Rango 说...</h1>
        {% if user.is_authenticated %}
            <h1>欢迎 {{ user.username }}!</h1>
        {%  else %}
            <h1>欢迎!  </h1>
        {%  endif %}
    </div>

    <div class="row marketing">

        <div class="col-lg-6">
            <h4>最受欢迎的类型</h4>
            <p>
            {% if categories %}
                <ul class="list-group"> 
                    {% for category in categories  %}
                        <li class="list-group-item"><a  href="{%  url  'rango:show_category'  category.slug  %}">
                        {{  category.name  }}</a></li>
                    {%  endfor  %}
                </ul>
            {%  else %}
                <strong>暂无类型</strong>
            {%  endif %}
            </p>
        </div>

        <div class="col-lg-6">
            <h4>最多观看的文章</h4>
            <p>
            {% if pages %}
                <ul class="list-group"> 
                    {% for page in pages   %}
                        <li class="list-group-item"><a  href="{{  page.url  }}">{{  page.title  }}</a></li>
                    {%  endfor  %}
                </ul>
            {%  else %}
                <strong>暂无文章</strong>
            {%  endif %}
            </p>
        </div>

    </div>
    <img src="{% static 'rango/image/1.jpg' %}" alt="fapiao">
{%  endblock  %}
